VITE_FIREBASE_API_KEY=AIzaSyCnlL-LMRPZ6MK8UQL45bX7J-4GP6D-z5E
VITE_FIREBASE_AUTH_DOMAIN=ieec-ya-connect.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ieec-ya-connect
VITE_FIREBASE_STORAGE_BUCKET=ieec-ya-connect.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=598438295878
VITE_FIREBASE_APP_ID=1:598438295878:web:5dbe9d98758c2b451c8d47
VITE_FIREBASE_MEASUREMENT_ID=G-BFZWT6R482
